In [48]:
import pandas as pd
from sqlalchemy import create_engine
from Config2 import user,password
import numpy as np

In [49]:
df=pd.read_csv("Resources/applemobilitytrends.csv")
print(df)

           geo_type         region transportation_type  1/13/2020  1/14/2020  \
0    country/region        Albania             driving        100      95.30
1    country/region        Albania             walking        100     100.68
2    country/region      Argentina             driving        100      97.07
3    country/region      Argentina             walking        100      95.11
4    country/region      Australia             driving        100     102.98
..              ...            ...                 ...        ...        ...
390            city  Washington DC             transit        100     100.78
391            city  Washington DC             walking        100      99.07
392            city         Zurich             driving        100     102.38
393            city         Zurich             transit        100     101.51
394            city         Zurich             walking        100     106.27

     1/15/2020  1/16/2020  1/17/2020  1/18/2020  1/19/2020  ...  4/12/2020  \
0       101.43      97.20     103.55     112.67     104.83  ...      24.89
1        98.93      98.46     100.85     100.13      82.13  ...      29.59
2       102.45     111.21     118.45     124.01      95.44  ...      12.89
3       101.37     112.67     116.72     114.14      84.54  ...      10.45
4       104.21     108.63     109.08      89.00      99.35  ...      31.72
..         ...        ...        ...        ...        ...  ...        ...
390     103.92     105.02     112.26      96.01      87.76  ...      14.23
391     109.61     104.16     123.16     119.71     106.28  ...      32.84
392     110.84     105.48     113.83     109.67     102.03  ...      54.97
393     108.93      97.87     103.91      98.50      93.83  ...      31.49
394     116.73     115.31     118.22     123.39      82.43  ...      65.61

     4/13/2020  4/14/2020  4/15/2020  4/16/2020  4/17/2020  4/18/2020  \
0        32.64      31.43      30.67      30.00      29.26      22.94
1        35.52      38.08      35.48      39.15      34.58      27.76
2        21.10      22.29      23.55      24.40      27.17      23.19
3        16.35      16.66      17.42      18.18      18.80      17.03
4        53.14      55.91      56.56      58.77      47.51      36.90
..         ...        ...        ...        ...        ...        ...
390      17.01      17.37      17.02      17.10      17.14      16.61
391      33.58      37.56      38.69      37.76      42.50      41.80
392      67.09      72.52      74.89      77.13      78.01      73.62
393      32.90      35.71      35.68      33.65      36.77      36.75
394      70.17      62.05      67.81      71.41      74.96      76.06

     4/19/2020  4/20/2020  4/21/2020
0        24.55      31.51      33.59
1        27.93      36.72      34.46
2        14.54      26.67      27.25
3        10.59      18.44      19.01
4        53.34      56.93      58.06
..         ...        ...        ...
390      16.66      18.20      17.76
391      43.51      41.89      38.40
392      71.97      73.74      76.41
393      37.66      37.50      36.60
394      74.22      65.06      66.18

[395 rows x 103 columns]

In [50]:
df.head()

,geo_type,region,transportation_type,1/13/2020,1/14/2020,1/15/2020,1/16/2020,1/17/2020,1/18/2020,1/19/2020,...,4/12/2020,4/13/2020,4/14/2020,4/15/2020,4/16/2020,4/17/2020,4/18/2020,4/19/2020,4/20/2020,4/21/2020
0,country/region,Albania,driving,100,95.30,101.43,97.20,103.55,112.67,104.83,...,24.89,32.64,31.43,30.67,30.00,29.26,22.94,24.55,31.51,33.59
1,country/region,Albania,walking,100,100.68,98.93,98.46,100.85,100.13,82.13,...,29.59,35.52,38.08,35.48,39.15,34.58,27.76,27.93,36.72,34.46
2,country/region,Argentina,driving,100,97.07,102.45,111.21,118.45,124.01,95.44,...,12.89,21.10,22.29,23.55,24.40,27.17,23.19,14.54,26.67,27.25
3,country/region,Argentina,walking,100,95.11,101.37,112.67,116.72,114.14,84.54,...,10.45,16.35,16.66,17.42,18.18,18.80,17.03,10.59,18.44,19.01
4,country/region,Australia,driving,100,102.98,104.21,108.63,109.08,89.00,99.35,...,31.72,53.14,55.91,56.56,58.77,47.51,36.90,53.34,56.93,58.06

In [51]:
df.columns[3:]

Index(['1/13/2020', '1/14/2020', '1/15/2020', '1/16/2020', '1/17/2020',
       '1/18/2020', '1/19/2020', '1/20/2020', '1/21/2020', '1/22/2020',
       '1/23/2020', '1/24/2020', '1/25/2020', '1/26/2020', '1/27/2020',
       '1/28/2020', '1/29/2020', '1/30/2020', '1/31/2020', '2/1/2020',
       '2/2/2020', '2/3/2020', '2/4/2020', '2/5/2020', '2/6/2020', '2/7/2020',
       '2/8/2020', '2/9/2020', '2/10/2020', '2/11/2020', '2/12/2020',
       '2/13/2020', '2/14/2020', '2/15/2020', '2/16/2020', '2/17/2020',
       '2/18/2020', '2/19/2020', '2/20/2020', '2/21/2020', '2/22/2020',
       '2/23/2020', '2/24/2020', '2/25/2020', '2/26/2020', '2/27/2020',
       '2/28/2020', '2/29/2020', '3/1/2020', '3/2/2020', '3/3/2020',
       '3/4/2020', '3/5/2020', '3/6/2020', '3/7/2020', '3/8/2020', '3/9/2020',
       '3/10/2020', '3/11/2020', '3/12/2020', '3/13/2020', '3/14/2020',
       '3/15/2020', '3/16/2020', '3/17/2020', '3/18/2020', '3/19/2020',
       '3/20/2020', '3/21/2020', '3/22/2020', '3/23/2020', '3/24/2020',
       '3/25/2020', '3/26/2020', '3/27/2020', '3/28/2020', '3/29/2020',
       '3/30/2020', '3/31/2020', '4/1/2020', '4/2/2020', '4/3/2020',
       '4/4/2020', '4/5/2020', '4/6/2020', '4/7/2020', '4/8/2020', '4/9/2020',
       '4/10/2020', '4/11/2020', '4/12/2020', '4/13/2020', '4/14/2020',
       '4/15/2020', '4/16/2020', '4/17/2020', '4/18/2020', '4/19/2020',
       '4/20/2020', '4/21/2020'],
      dtype='object')

In [52]:
final_list=[]
for col in df.columns[3:]:
    df_sub=df[['geo_type','region','transportation_type',col]]
    dt=[]
    for i in range(0,len(df_sub)):
        dt.append(col)

    df_sub['date']=dt
    #df_sub['date']=[col for i in range(0,len(df))]
    final_list.append(df_sub.rename(columns={col:'score'}))

C:\Users\Michael Boyce\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
final=pd.concat(final_list)
print(final)

           geo_type         region transportation_type   score       date
0    country/region        Albania             driving  100.00  1/13/2020
1    country/region        Albania             walking  100.00  1/13/2020
2    country/region      Argentina             driving  100.00  1/13/2020
3    country/region      Argentina             walking  100.00  1/13/2020
4    country/region      Australia             driving  100.00  1/13/2020
..              ...            ...                 ...     ...        ...
390            city  Washington DC             transit   17.76  4/21/2020
391            city  Washington DC             walking   38.40  4/21/2020
392            city         Zurich             driving   76.41  4/21/2020
393            city         Zurich             transit   36.60  4/21/2020
394            city         Zurich             walking   66.18  4/21/2020

[39500 rows x 5 columns]

In [54]:

final.head()

         geo_type     region transportation_type  score       date
0  country/region    Albania             driving  100.0  1/13/2020
1  country/region    Albania             walking  100.0  1/13/2020
2  country/region  Argentina             driving  100.0  1/13/2020
3  country/region  Argentina             walking  100.0  1/13/2020
4  country/region  Australia             driving  100.0  1/13/2020

In [55]:
final.to_csv("Output/cleaneddata.csv", index=False, header=True)

In [9]:
#import data to postgresql
rds_connection_string = f"{user}:{password}@localhost:5432/mobility_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

ModuleNotFoundError: No module named 'psycopg2'

In [41]:
engine.table_names()

[]

In [42]:
final.to_sql(name='mobility', con=engine, if_exists='append', index=False)

In [20]:
# dt=[]
# for i in range(0,len(df_sub)):
#     dt.append('2020-01-13')

In [21]:
# df_sub['date']=dt

In [22]:
# df_sub.head()

In [23]:
# df_sub.rename(columns={'2020-01-13':'score'})